@import '@fontsource/fira-mono';
/*https://coolors.co/3882d2-ef7a30-f3f3f3-343a40*/
/*https://coolors.co/3882d2-ef7a30-2b2b2b-1c1f24*/
@media (prefers-color-scheme: light) {
	:root {
		--color-1: #3882d2;
		--color-2: #ef7a30;
		--color-3: #F3F3F3;
		--color-4: #343A40;
	}
}



:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	/* --color-bg-0: #FF323E; */
	--color-bg-0: #244773;
	--color-bg-1: rgb(51, 76, 102);
	--color-bg-2: rgb(37, 50, 64);
	--color-theme-1: #F29154;
	--color-theme-2: #ef7a30;
	--color-theme-3: #4075a6;
	--color-theme-4: #90a4b7;
	--color-text: rgb(199, 205, 211);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
	--border-radius: 3px;
	--back-translucent: rgba(51, 76, 102,55)
}

body {
	margin: 0;
	background-color: #343A40;
	/* background-image: url("../lib/images/field.png"); */
	background-size: cover;
	/* min-height: 100vh; */
	
	background-attachment: fixed;
	/* background-color: var(--color-bg-1); */
	/* background-color: rgba(255, 255, 255, 0.45); */
	background-size: 100vw 100vh;
	/* background-image: linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-2) 10%); */
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	/* padding: 0.5em; */
	overflow-x: auto;
	color: var(--color-text);
}

code {
    font-family: 'Courier New', monospace;
    background-color: var(--color-bg-2);
    border-radius: 5px;
    line-height: 1.6;
	color: var(--color-text);
    white-space: pre-wrap;   /* Since CSS 2.1 */
    display: block;
    padding: 0 1rem 1rem 1rem;
    word-wrap: break-word;   /* Internet Explorer 5.5+ */
}
