/*!
  Theme: Ayu Mirage Bordered
  Author: Jon Lipstate
  Maintainer: @jon-lipstate
  Updated: 2023-05-30
  */

.inline-code {
	color: #fa8d3e;
	font-family: 'Courier New', Courier, monospace;
	background: #24293678;
	padding: 0.1rem 0.25rem;
}

pre,
code {
	display: block;
	padding: 1rem;
}

.hljs {
	color: #cccac2;
	background: #242936;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
	color: #ffad66;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
	color: #ffd173;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
	color: #dfbfff;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
	color: #d5ff80;
}

.hljs-built_in,
.hljs-symbol {
	color: #5ccfe6;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
	color: #b8cfe680;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
	color: #87d96c;
}

.hljs-subst {
	color: #c9d1d9;
}

.hljs-section {
	color: #1f6feb;
	font-weight: bold;
}

.hljs-bullet {
	color: #f2cc60;
}

.hljs-emphasis {
	color: #c9d1d9;
	font-style: italic;
}

.hljs-strong {
	color: #c9d1d9;
	font-weight: bold;
}

.hljs-addition {
	color: #aff5b4;
	background-color: #033a16;
}

.hljs-deletion {
	color: #ffdcd7;
	background-color: #67060c;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
	/* purposely ignored */
}
